    body {
      background: white;
    }
    :root {
      --nexa: 'NexaRegular', sans-serif;
      --serif: Georgia, serif;
      --white: lightgrey;
      --green: #74bf50;
    }
    nav ul {
      background: grey;
      padding: 1px;
      width: 100vh;
    }
    nav ul.navigation-bar li {
      color: var(--white);
      list-style-type: none;
      display: inline;
      padding: 10px;
      font-family: var(--nexa);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      transition: all linear .15s;
    }
    nav ul.navigation-bar li:hover {
      color: var(--green);
    }
    nav {
      position: sticky;
      transform: translateY(-20);
    }
